/*Importando as fonts para o projeto*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*Variáveis do CSS*/

:root{

    --fonte-padrao: 'Montserrat', sans-serif;
    --cor1: #000000;
    --cor2: #1C1D21;
    --cor3: #332F2E;
    --cor4: #98A39D;
    --cor5: #f3b8b8;
}

/*Definindo a fonte para o projeto e a cor de fundo*/

body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

/*Inicio da configuração do cabeçalho*/

.cabecalho {
    display: flex;
    padding: 10px 5px;
    background-color: var(--cor3);
    color: var(--cor5)
}

nav {
    padding: 10px;
    margin: auto;
}

.menu-img {
    display: none;
}

ul {
    margin-left: 350px;
    display: flex;
    padding: 10px;
}

ul li {
    margin-right: 30px;
    list-style: none;
}

li > a {
    text-decoration: none;
    color: var(--cor5);
}

li > a:hover {
    text-decoration: underline;
}

/*Fim da configuração do cabeçalho*/

/*Inicio da configuração do main ou notícia principal*/

main {
    background-color: var(--cor4);
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
}

h1 {
    padding: 10px;
    font-size: 2em;
    font-weight: 900;
}

.info > p {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}

.image img {
    width: 100%;
}

/*Fim da configuração do main ou notícia principal*/


/*Inicio da configuração do footer ou dorapé*/

footer {
    text-align: center;
    margin-top: -3.6px;
    background-color: var(--cor3);
    color: var(--cor5);
}

footer p {
    padding: 10px;
    width: 100%;
    margin: auto;
}

footer p a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
}

/*Fim da configuração do footer ou dorapé*/
